@import 'bootstrap';
@import 'mixins';
@import 'variables';

.popup {
  @extend .popover;

  width: max-content;

  display: none;

  &__title {
    @extend .popover-header;
  }

  &__content {
    @extend .popover-body;
  }

  &--opened {
    display: block;
  }

  &--top {
    @extend .bs-popover-top;
    // top: -100%;
    transform: translateY(calc(-100% - #{$popover-arrow-height}));

  }

  &--right {
    @extend .bs-popover-end;
    left: calc(100% + #{$popover-arrow-height});
    // transform: translateX(100%);
  }

  &--bottom {
    @extend .bs-popover-bottom;
  }

  &--start {
    @extend .bs-popover-top;
  }
}
