@import 'mixins';

.corgi-page {
  @include dis-flex(center, stretch);

  width: 100%;
  max-width: 100%;

  padding: 0 1rem;

  & > * {
    @include margin-between(2rem, row);
  }

  &__field {
    @include dis-flex(center, stretch);

    width: 100%;

    & > * {
      @include margin-between(1rem, row);
    }
  }

  &__card {
    max-width: 30rem;
  }

  &__content {
    @include dis-flex-column(space-between, stretch);
  }

  &__actions {
    & > * {
      @include margin-between(0.5rem, column);
    }
  }
}

@media all and (max-width: 900px) {
  .corgi-page {
    &__actions {
      width: 35%;
    }
  }
}

@media all and (max-width: 700px) {
  .corgi-page {
    &__actions {
      width: 45%;
    }
  }
}

@media all and (max-width: 525px) {
  .corgi-page {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__actions {
      width: 100%;
    }
  }
}
