@import 'mixins';
@import 'variables';

.poster {
  background-color: rgba($color-main, 0.5);

  border-radius: $border-radius-big;

  padding: 0 1rem;

  &__description {
    @include dis-flex-column(space-evenly, center);

    padding: 1rem;

    box-sizing: border-box;
  }

  &__text {
    margin: 1rem 0;
    padding: 0;

    color: #24272a;

    font-size: 2em;
    font-weight: 500;

    letter-spacing: 1px;

    &--small {
      font-size: 1em;
      font-weight: 300;
    }
  }

  &__corgi {
    width: 100%;

    transform: translateY(-3%);
  }
}
