@import 'variables';

.share {
  width: 100%;

  .st-inline-share-buttons {
    display: flex !important;
  }

  .st-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;

    height: 2rem !important;
    width: 2rem !important;
    min-width: 2rem !important;

    padding: 0;
    margin: 0;

    border-radius: $border-radius-basic !important;

    img {
      top: 0 !important;
    }

    &:hover {
      top: 0 !important;
    }
  }
}
