.generation-form {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1%;
  text-align: left;
  width: 50%;
  margin: 1%;

  &__area {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: 1.5em;
    margin: 10px 0;
    display: block;
  }

  &__icon {
    margin: 10px;
    color: #a51cea;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5), inset 0 0 5px 2px #ffffff;
    background: #f5ebff;
    cursor: pointer;
  }

  &__input {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 80%;
  }
}

@media all and (max-width: 765px) {
  .generation-form {
    width: 100%;
  }
}
