@import 'mixins';
@import 'variables';

.dropdown {
  position: relative;

  text-align: center;

  z-index: 1;

  &__title,
  &__list {
    border: $border-basic-main;
  }

  &__title {
    @include flex-center;

    width: max-content;

    padding: $padding-dropdown-item;

    border-radius: $border-radius-basic;

    background-color: $dropdown-item-background-color;

    box-sizing: border-box;

    cursor: pointer;

    &:hover {
      background-color: $dropdown-item-background-color-hover;
    }
  }

  &__list {
    @include dis-flex-column(flex-start, stretch);
    @include clear-mar-pad;
    @include absolute-top-left(100%, 0);

    visibility: hidden;

    min-width: 100%;

    border: $border-basic-main;
    border-radius: $border-radius-dropdown-list;

    background-color: $color-white;

    overflow-x: visible;
    overflow-y: hidden;

    transform: translateY(-$border-basic-width);
  }

  &__item {
    @include flex-center;
    @include clear-mar-pad;

    width: 100%;

    background-color: $dropdown-item-background-color;

    transition: background-color $transition-basic;

    cursor: pointer;

    &:hover {
      background-color: $dropdown-item-background-color-hover;
    }

    & > * {
      width: 100%;

      padding: $padding-dropdown-item-wide;
    }
  }

  &__item--divider {
    border-top: $border-basic-main;

    cursor: default;

    &:hover {
      background-color: $dropdown-item-background-color;
    }

    & > * {
      padding: 0;
    }
  }

  &--opened {
    .dropdown__title {
      border-radius: $border-radius-dropdown-title;
    }

    .dropdown__list {
      visibility: visible;
    }
  }

  &--wide {
    .dropdown__title {
      padding: $padding-dropdown-item-wide;
    }
  }
}
